<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Upload file</title>
</head>

<body>
    <div class="upload">
        {% if messages %}
        {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
        {% endfor %}
        {%else%}
        {{order}}
        <form method="POST" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <label>Upload file</label>
            <input type="file" name="file">
            <p class="reminder">Only accepts CSV file</p>
            <button type="submit">Upload</button>
        </form>
        {%endif%}
    </div>
</body>

</html>